.hero{
    width: 100%;
    min-width: 100vh;
    background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)), url(../../assets/hero.jpg) no-repeat center;
    background-size: cover;
    background-position: center;
    color: #fff;
}